.whatsappButtonIcon {
  width: var(--pixel-40);
  position: relative;
  height: auto;
  overflow: hidden;
  flex-shrink: 0;
}

.whatsappButton {
  position: fixed;
  bottom: var(--pixel-30);
  right: var(--pixel-30);
  z-index: 996;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #55cd6c;
  width: var(--pixel-60);
  border-radius: 50%;
  height: var(--pixel-60);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
