.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-30);
  padding: var(--pixel-30) var(--pixel-80);
}

@media (max-width: 910px) {
  .section {
    padding: var(--pixel-30);
  }
}
