.buttonText {
  position: relative;
  font-size: var(--font-xsm);
  font-family: var(--font-karla);
  color: #2689c7;
  text-align: center;
}
.switchButtonActive {
  cursor: pointer;
  border: 1px solid #fffefe;
  padding: 0 var(--pixel-20);
  background-color: #fffefe;
  border-radius: var(--pixel-15) var(--pixel-15) 0 0;
  box-sizing: border-box;
  height: var(--pixel-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonText1 {
  position: relative;
  font-size: var(--font-xsm);
  font-family: var(--font-karla);
  color: rgba(9, 29, 44, 0.5);
  text-align: center;
}
.contentCat,
.switchButton,
.tabSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.switchButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--pixel-20);
  background-color: transparent;
  height: var(--pixel-50);
  justify-content: center;
  box-sizing: border-box;
}
.contentCat,
.tabSwitch {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
}
.tabSwitch {
  margin: 0;
  height: var(--pixel-50);
  flex-shrink: 0;
}
.contentCat {
  flex-wrap: wrap;
  gap: var(--pixel-5);
}
.loremIpsumDolor {
  display: block;
}
.contentText {
  margin: 0;
  white-space: pre-wrap;
  align-self: stretch;
  position: relative;
  font-size: var(--font-sm);
  font-weight: 500;
  color: #091d2c;
  text-align: left;
}
.aboutTab,
.tabContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tabContent {
  border-radius: 0 0 var(--pixel-15) var(--pixel-15);
  background-color: #fffefe;
  padding: var(--pixel-20);
  gap: var(--pixel-20);
}
.aboutTab {
  border-radius: var(--pixel-20);
  background-color: rgba(9, 29, 44, 0.1);
  padding: var(--pixel-5);
  text-align: center;
  font-size: var(--font-tiny);
  color: #2689c7;
  font-family: var(--font-karla);
}
