.replaceThis {
  width: var(--pixel-20);
  position: relative;
  background-color: #888;
  height: var(--pixel-20);
  overflow: hidden;
  flex-shrink: 0;
}
.liText {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.contactLi {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-xsm);
  color: #fffefe;
  font-family: var(--font-karla);
}
