.drawerContent,
.drawerItems,
.menuDrawer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.drawerItems {
  align-items: center;
  justify-content: flex-start;
}

.drawerContent,
.menuDrawer {
  align-items: flex-start;
}

.drawerContent {
  box-shadow: 0 19px 5px transparent, 0 12px 5px rgba(9, 29, 44, 0.01),
    0 7px 4px rgba(9, 29, 44, 0.03), 0 3px 3px rgba(9, 29, 44, 0.04),
    0 1px 2px rgba(9, 29, 44, 0.05);
  border-radius: var(--pixel-25);
  background-color: var(--color-foreground);
  border: 1px solid var(--color-primary-30);
  overflow: hidden;
  justify-content: center;
  padding: var(--pixel-10);
  gap: var(--pixel-10);
  animation-name: slidedown;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.drawerContent.close {
  animation-name: slideup;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.menuDrawer {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  justify-content: flex-start;
  padding-top: var(--pixel-90);
  padding-left: var(--pixel-15);
  padding-right: var(--pixel-15);
  padding-bottom: var(--pixel-10);
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.menuDrawer.close {
  animation-name: fadeout;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideup {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(var(--pixel-min-30));
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(var(--pixel-min-30));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}