.teacherAvatarIcon {
  width: var(--pixel-130);
  border-radius: 50%;
  height: var(--pixel-130);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  border: var(--pixel-5) solid var(--color-foreground);
  box-shadow: 0 19px 5px transparent, 0 12px 5px rgba(9, 29, 44, 0.01),
    0 7px 4px rgba(9, 29, 44, 0.03), 0 3px 3px rgba(9, 29, 44, 0.04),
    0 1px 2px rgba(9, 29, 44, 0.05);
    transform: translateY(var(--pixel-90));
}
.teacherBanner {
  align-self: stretch;
  height: var(--pixel-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--pixel-30);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}
.teacherBio,
.teacherName {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.teacherName {
  font-size: var(--font-md);
  font-weight: 800;
  font-family: var(--font-mulish);
}
.teacherBio {
  font-size: var(--font-sm);
  font-weight: 500;
}
.locText,
.replaceThis {
  position: relative;
  overflow: hidden;
}
.replaceThis {
  width: var(--pixel-20);
  background-color: #888;
  height: var(--pixel-20);
  flex-shrink: 0;
}
.locText {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.detailsContent,
.teacherLoc,
.teacherRating {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.teacherLoc {
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-5);
  color: #2689c7;
}
.detailsContent,
.teacherRating {
  gap: var(--pixel-10);
}
.teacherRating {
  flex-direction: row;
  align-items: center;
  color: rgba(9, 29, 44, 0.5);
}
.detailsContent {
  flex-direction: column;
  align-items: flex-start;
}
.replaceThis2 {
  width: var(--pixel-100);
  position: relative;
  background-color: #888;
  height: var(--pixel-50);
  overflow: hidden;
  flex-shrink: 0;
}
.detailsActions,
.teacherAbout,
.teacherDetails {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.detailsActions {
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-10);
}
.teacherAbout,
.teacherDetails {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}
.teacherDetails {
  padding: var(--pixel-90) var(--pixel-30) var(--pixel-30);
  gap: var(--pixel-30);
  z-index: 2;
  text-align: left;
  font-size: var(--font-xsm);
  color: #091d2c;
  font-family: var(--font-karla);
}
.teacherAbout {
  padding: var(--pixel-30);
  z-index: 1;
}
.ulasan {
  font-weight: 800;
}
.ulasan1 {
  font-weight: 600;
  color: rgba(9, 29, 44, 0.5);
}
.reviewTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.reviewContent,
.teacherBoard,
.teacherReview {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.reviewContent {
  align-items: flex-start;
}
.teacherBoard,
.teacherReview {
  overflow: hidden;
}
.teacherReview {
  align-items: flex-start;
  padding: var(--pixel-30);
  gap: var(--pixel-30);
  z-index: 0;
  text-align: left;
  font-size: var(--font-md);
  color: #091d2c;
  font-family: var(--font-mulish);
}
.teacherBoard {
  border-radius: var(--pixel-20);
  border: 1px solid rgba(38, 137, 199, 0.3);
  align-items: center;
}
