.liText {
  flex: 1;
  position: relative;
  font-weight: 500;
}

.contactLi {
  cursor: pointer;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-xsm);
  color: var(--color-foreground);
  font-family: var(--font-karla);
}
