.menuTitle {
  margin: 0;
  position: relative;
  font-size: var(--font-sm);
  font-weight: 800;
  font-family: var(--font-mulish);
  color: var(--color-foreground);
}

.menuLi {
  color: var(--color-foreground-70);
  cursor: pointer;
  position: relative;
  font-weight: 500;
}

.menuLi:hover {
  color: var(--color-foreground);
}

.footerMenu {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-xsm);
  font-family: var(--font-karla);
}
