.filterButton {
  position: fixed;
  top: var(--pixel-120);
  right: var(--pixel-80);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: row;
}

@media (max-width: 910px) {
  .filterButton {
    right: var(--pixel-30);
  }
}

.buttonText {
  position: relative;
  font-size: var(--font-tiny);
  font-family: var(--font-karla);
  color: inherit;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionButton {
  cursor: pointer;
  border: 1px solid var(--color-secondary-30);
  padding: var(--pixel-10);
  background-color: transparent;
  border-radius: var(--pixel-5);
  box-sizing: border-box;
  height: var(--pixel-30);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.optionButton:hover {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.optionButton.active {
  color: var(--color-foreground);
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.drawerContent {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--pixel-13);
}

.filterTitle {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}

.drawerFilter {
  flex: 1;
  border-radius: var(--pixel-20);
  border: 1px solid var(--color-primary-30);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--pixel-15);
  gap: var(--pixel-15);
  max-width: var(--pixel-300);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

.drawerFilter.float {
  background-color: var(--color-foreground);
  animation-name: slidein;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.drawerFilter.float.close {
  animation-name: slideout;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.setTitle {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterSet,
.setOption {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.setOption {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-5);
}

.filterSet {
  flex-direction: column;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-tiny);
  color: var(--color-secondary);
  font-family: var(--font-karla);
}

.drawerBody {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15);
}

.drawerContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: var(--pixel-30) var(--pixel-80);
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.drawerContainer.close {
  animation-name: fadeout;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.drawerScroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  justify-content: flex-start;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(var(--pixel-100));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(var(--pixel-100));
  }
}

@media (max-width: 910px) {
  .drawerContainer {
    padding: var(--pixel-30);
  }
}
