.isIcon {
  width: var(--pixel-20);
  height: var(--pixel-20);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
  
.isIcon.flipped {
  transform: scaleY(-1);
}
  
.isIcon.spin {
  animation: spin 1.5s linear infinite;
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
  