.buttonText {
  position: relative;
  font-size: var(--font-xsm);
  font-family: var(--font-karla);
  color: inherit;
  text-align: center;
}

.contentCat,
.switchButton,
.tabSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.switchButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--pixel-20);
  background-color: transparent;
  height: var(--pixel-50);
  justify-content: center;
  box-sizing: border-box;
  color: var(--color-secondary-50);
  transition: all 0.3s ease-in-out;
}

.switchButton:hover {
  color: var(--color-secondary);
}

.switchButton.active {
  color: var(--color-primary);
  background-color: var(--color-foreground);
  border-radius: var(--pixel-15) var(--pixel-15) 0 0;
}

.contentCat,
.tabSwitch {
  align-self: stretch;
  overflow: hidden;
  justify-content: flex-start;
}

.tabSwitch {
  margin: 0;
  height: var(--pixel-50);
  flex-shrink: 0;
}

.contentCat {
  flex-wrap: wrap;
  gap: var(--pixel-5);
}

.contentText {
  margin: 0;
  white-space: pre-wrap;
  align-self: stretch;
  position: relative;
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--color-secondary);
  text-align: left;
}

.aboutTab {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.tabContent {
  width: 100%;
  gap: var(--pixel-10);
  position: relative;
  border-radius: 0 0 var(--pixel-15) var(--pixel-15);
  background-color: var(--color-foreground);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--pixel-20);
  box-sizing: border-box;
}

.aboutTab {
  border-radius: var(--pixel-20);
  background-color: var(--color-secondary-10);
  padding: var(--pixel-5);
  text-align: center;
  font-size: var(--font-tiny);
  color: var(--color-primary);
  font-family: var(--font-karla);
}

.cardImageIcon,
.cardTitle {
  align-self: stretch;
  position: relative;
}

.cardImageIcon {
  border-radius: var(--pixel-15);
  max-width: 100%;
  overflow: hidden;
  height: var(--pixel-200);
  flex-shrink: 0;
  object-fit: cover;
}

.cardTitle {
  margin: 0;
  font-weight: 700;
}

.activitesCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

.gridContent {
  align-self: stretch;
  gap: var(--pixel-20);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--pixel-300), 1fr));
}

.itemIcon {
  width: auto;
  position: relative;
  height: var(--pixel-40);
  object-fit: cover;
}

.itemTitle {
  margin: 0;
  flex: 1;
  position: relative;
  font-weight: 500;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.awardsItem {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-karla);
}

.awardsTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.detailsAwards,
.detailsContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.detailsContent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-30);
}

.detailsAwards {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--pixel-10);
  min-width: var(--pixel-300);
  max-width: var(--pixel-400);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

.teacherAvatarIcon {
  width: var(--pixel-130);
  border-radius: 50%;
  height: var(--pixel-130);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  border: var(--pixel-5) solid var(--color-foreground);
  box-shadow: 0 19px 5px transparent, 0 12px 5px rgba(9, 29, 44, 0.01), 0 7px 4px rgba(9, 29, 44, 0.03), 0 3px 3px rgba(9, 29, 44, 0.04), 0 1px 2px rgba(9, 29, 44, 0.05);
  transform: translateY(var(--pixel-90));
}

.teacherBanner {
  align-self: stretch;
  height: var(--pixel-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--pixel-30);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
}

.teacherBio,
.teacherName {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.teacherName {
  font-size: var(--font-md);
  font-weight: 800;
  font-family: var(--font-mulish);
}

.teacherBio {
  font-size: var(--font-sm);
  font-weight: 500;
}

.locText {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teacherLoc,
.teacherRating {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.teacherLoc {
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-5);
  color: var(--color-primary);
}

.detailsInfo,
.teacherRating {
  gap: var(--pixel-10);
}

.teacherRating {
  flex-direction: row;
  align-items: center;
  color: var(--color-secondary-50);
}

.detailsInfo {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: var(--pixel-300);
  font-size: var(--font-xsm);
  color: var(--color-secondary);
  font-family: var(--font-karla);
  display: flex;
  justify-content: flex-start;
}

.detailsActions,
.teacherAbout,
.teacherDetails {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

.detailsActions {
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-10);
}

.teacherDetails {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
}

.teacherDetails {
  padding: var(--pixel-90) var(--pixel-30) var(--pixel-30);
  gap: var(--pixel-30);
  z-index: 2;
  text-align: left;
  font-size: var(--font-xsm);
  color: var(--color-secondary);
  font-family: var(--font-karla);
}

.teacherAbout {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--pixel-30);
  z-index: 3;
}

.reviewTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}

.reviewContent,
.teacherBoard,
.teacherReview {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reviewContent {
  align-items: flex-start;
}

.teacherBoard,
.teacherReview {
  overflow: hidden;
}

.teacherReview {
  align-items: flex-start;
  padding: var(--pixel-30);
  gap: var(--pixel-30);
  z-index: 0;
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

.teacherBoard {
  border-radius: var(--pixel-20);
  border: 1px solid var(--color-primary-30);
  align-items: center;
}

@media (max-width: 700px) {
  .teacherBanner {
    align-items: center;
  }

  .detailsActions {
    justify-content: center;
  }
}

@media (max-width: 535px) {
  .teacherDetails {
    text-align: center;
  }

  .teacherLoc,
  .teacherRating {
    justify-content: center;
  }

  .detailsAwards {
    text-align: center;
    max-width: unset;
    align-items: center;
  }
}
