.cardImageIcon {
  align-self: stretch;
  flex: 1;
  border-radius: var(--pixel-15);
  max-width: 100%;
  overflow: hidden;
  max-height: var(--pixel-150);
  object-fit: cover;
}

.contentName {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentName,
.detLoc {
  position: relative;
  overflow: hidden;
}

.detLoc {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentDet,
.contentHead {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-5);
  font-size: var(--font-xsm);
  color: var(--color-primary);
  font-family: var(--font-karla);
}

.contentHead {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

.starCount {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentStar,
.tagWrap {
  flex-direction: row;
  align-items: center;
}

.contentStar {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--pixel-5);
}

.tagWrap {
  flex: 1;
  overflow: hidden;
  gap: var(--pixel-2);
}

.cardContent,
.contentTag,
.tagWrap,
.teacherCard {
  display: flex;
  justify-content: flex-start;
}

.contentTag {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: var(--pixel-5) 0;
  gap: var(--pixel-2);
}

.cardContent,
.teacherCard {
  overflow: hidden;
  flex-direction: column;
}

.cardContent {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--pixel-5) var(--pixel-10);
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-xsm);
  color: var(--color-secondary-50);
  font-family: var(--font-karla);
}

.teacherCard {
  cursor: pointer;
  flex: 1;
  box-shadow: 0 31px 9px transparent, 0 20px 8px rgba(9, 29, 44, 0.01), 0 11px 7px rgba(9, 29, 44, 0.03), 0 5px 5px rgba(9, 29, 44, 0.04), 0 1px 3px rgba(9, 29, 44, 0.05);
  border-radius: var(--pixel-20);
  background-color: var(--color-foreground);
  border: 1px solid var(--color-primary-30);
  box-sizing: border-box;
  height: var(--pixel-300);
  flex-shrink: 0;
  align-items: center;
  padding: var(--pixel-5);
  gap: var(--pixel-5);
  min-width: var(--pixel-250);
}
