@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --font-mulish: "Mulish", sans-serif;
  --font-karla: "Karla", sans-serif;

  --font-xlg: 50px;
  --font-lg: 35px;
  --font-md: 25px;
  --font-sm: 18px;
  --font-xsm: 16px;
  --font-tiny: 14px;

  --theme-font: "Karla", sans-serif;
  --theme-color-base: var(--color-foreground);
  --theme-color-primary: var(--color-primary);
  --theme-color-secondary: var(--color-secondary);

  --color-foreground: #fffefe;
  --color-foreground-50: rgba(255, 254, 254, 0.5);
  --color-foreground-70: rgba(255, 254, 254, 0.7);
  --color-primary: #2689c7;
  --color-primary-5: rgba(38, 137, 199, 0.05);
  --color-primary-10: rgba(38, 137, 199, 0.1);
  --color-primary-20: rgba(38, 137, 199, 0.2);
  --color-primary-30: rgba(38, 137, 199, 0.3);
  --color-secondary: #091d2c;
  --color-secondary-5: rgba(9, 29, 44, 0.05);
  --color-secondary-10: rgba(9, 29, 44, 0.1);
  --color-secondary-30: rgba(9, 29, 44, 0.3);
  --color-secondary-50: rgba(9, 29, 44, 0.5);
  --color-hint: #ec801c;

  --pixel-2: 2px;
  --pixel-5: 5px;
  --pixel-10: 10px;
  --pixel-13: 13px;
  --pixel-15: 15px;
  --pixel-20: 20px;
  --pixel-25: 25px;
  --pixel-30: 30px;
  --pixel-35: 35px;
  --pixel-40: 40px;
  --pixel-45: 45px;
  --pixel-50: 50px;
  --pixel-55: 55px;
  --pixel-60: 60px;
  --pixel-65: 65px;
  --pixel-70: 70px;
  --pixel-75: 75px;
  --pixel-80: 80px;
  --pixel-85: 85px;
  --pixel-90: 90px;
  --pixel-95: 95px;
  --pixel-100: 100px;
  --pixel-120: 120px;
  --pixel-130: 130px;
  --pixel-150: 150px;
  --pixel-200: 200px;
  --pixel-250: 250px;
  --pixel-300: 300px;
  --pixel-350: 350px;
  --pixel-400: 400px;
  --pixel-450: 450px;
  --pixel-500: 500px;
  --pixel-550: 550px;
  --pixel-600: 600px;
  --pixel-650: 650px;
  --pixel-700: 700px;
  --pixel-750: 750px;
  --pixel-800: 800px;
  --pixel-850: 850px;
  --pixel-900: 900px;
  --pixel-950: 950px;

  --pixel-min-2: -2px;
  --pixel-min-5: -5px;
  --pixel-min-10: -10px;
  --pixel-min-15: -15px;
  --pixel-min-20: -20px;
  --pixel-min-30: -30px;
  --pixel-min-100: -100px;
}

@media screen and (min-width: 701px) and (max-width: 1120px) {
  :root {
    --font-xlg: 43px;
    --font-lg: 30px;
    --font-md: 21.5px;
    --font-sm: 15.5px;
    --font-xsm: 14px;
    --font-tiny: 12px;

    --pixel-2: 1.7px;
    --pixel-5: 4px;
    --pixel-10: 8.5px;
    --pixel-13: 11px;
    --pixel-15: 13px;
    --pixel-20: 17px;
    --pixel-25: 21px;
    --pixel-30: 26px;
    --pixel-35: 30px;
    --pixel-40: 34px;
    --pixel-45: 38.5px;
    --pixel-50: 43px;
    --pixel-55: 47px;
    --pixel-60: 51.5px;
    --pixel-65: 56px;
    --pixel-70: 60px;
    --pixel-75: 64px;
    --pixel-80: 68.5px;
    --pixel-85: 73px;
    --pixel-90: 77px;
    --pixel-95: 81.5px;
    --pixel-100: 85px;
    --pixel-120: 103px;
    --pixel-130: 111px;
    --pixel-150: 128.5px;
    --pixel-200: 171.5px;
    --pixel-250: 214px;
    --pixel-300: 257px;
    --pixel-350: 300px;
    --pixel-400: 343px;
    --pixel-450: 386px;
    --pixel-500: 428.5px;
    --pixel-550: 471.5px;
    --pixel-600: 514px;
    --pixel-650: 557px;
    --pixel-700: 600px;
    --pixel-750: 643px;
    --pixel-800: 686px;
    --pixel-850: 728.5px;
    --pixel-900: 771.5px;
    --pixel-950: 950px;

    --pixel-min-2: -1.7px;
    --pixel-min-5: -4px;
    --pixel-min-10: -8.5px;
    --pixel-min-15: -13px;
    --pixel-min-20: -17px;
    --pixel-min-30: -26px;
    --pixel-min-100: -85px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --font-xlg: 36px;
    --font-lg: 25px;
    --font-md: 18px;
    --font-sm: 13px;
    --font-xsm: 11.5px;
    --font-tiny: 10px;

    --pixel-2: 1.5px;
    --pixel-5: 3.5px;
    --pixel-10: 7px;
    --pixel-13: 9px;
    --pixel-15: 11px;
    --pixel-20: 14px;
    --pixel-25: 18px;
    --pixel-30: 21px;
    --pixel-35: 25px;
    --pixel-40: 29px;
    --pixel-45: 32px;
    --pixel-50: 36px;
    --pixel-55: 39px;
    --pixel-60: 43px;
    --pixel-65: 46.5px;
    --pixel-70: 50px;
    --pixel-75: 53.5px;
    --pixel-80: 57px;
    --pixel-85: 61px;
    --pixel-90: 64px;
    --pixel-95: 68px;
    --pixel-100: 71.5px;
    --pixel-120: 86px;
    --pixel-130: 93px;
    --pixel-150: 107px;
    --pixel-200: 143px;
    --pixel-250: 179px;
    --pixel-300: 214.5px;
    --pixel-350: 250px;
    --pixel-400: 286px;
    --pixel-450: 321.5px;
    --pixel-500: 357px;
    --pixel-550: 393px;
    --pixel-600: 428.5px;
    --pixel-650: 464px;
    --pixel-700: 500px;
    --pixel-750: 536px;
    --pixel-800: 571px;
    --pixel-850: 607px;
    --pixel-900: 643px;
    --pixel-950: 950px;

    --pixel-min-2: -1.5px;
    --pixel-min-5: -3.5px;
    --pixel-min-10: -7px;
    --pixel-min-15: -11px;
    --pixel-min-20: -14px;
    --pixel-min-30: -21px;
    --pixel-min-100: -71.5px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
