.sectionTitle {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}
.replaceThis {
  width: var(--pixel-100);
  position: relative;
  background-color: #888;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
}
.sectionHead {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-30) var(--pixel-80) var(--pixel-10);
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-md);
  color: #091d2c;
  font-family: var(--font-mulish);
}
