.sectionTitle {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
}

.sectionHead {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-30) var(--pixel-80) var(--pixel-10);
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-secondary);
  font-family: var(--font-mulish);
}

@media (max-width: 910px) {
  .sectionHead {
    padding: var(--pixel-30) var(--pixel-30) var(--pixel-10);
  }
}
