.contentWrapper {
  flex: 1;
  display: inline-flex;
  margin-right: var(--pixel-10);
  box-sizing: border-box;
  text-align: center;
}

.contentWrapper:last-child {
  margin-right: 0;
}

.newsSliderSection,
.sectionBody,
.sectionSlider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.sectionSlider {
  flex: 1;
}

.newsSliderSection,
.sectionBody {
  position: relative;
  align-self: stretch;
  overflow: hidden;
}

.newsSliderSection {
  flex-direction: column;
  align-items: center;
  gap: var(--pixel-10);
  padding: var(--pixel-10) var(--pixel-150);
}

.dotContainer {
  position: absolute;
  bottom: var(--pixel-20);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--pixel-5);
}

.dot {
  width: var(--pixel-10);
  height: var(--pixel-10);
  background: var(--color-primary-30);
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.activeDot {
  background: var(--color-primary);
}

@media screen and (min-width: 701px) and (max-width: 910px) {
  .newsSliderSection {
    padding: var(--pixel-10) var(--pixel-30);
  }
}

@media screen and (max-width: 700px) {
  .newsSliderSection {
    padding: 0;
  }

  .dotContainer {
    bottom: var(--pixel-10);
  }
}
