.contentWrapper {
  flex: 1;
  display: inline-flex;
  margin-right: var(--pixel-10);
  box-sizing: border-box;
  text-align: center;
}

.contentWrapper:last-child {
  margin-right: 0;
}

.newsSliderSection,
.sectionBody,
.sectionSlider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.sectionSlider {
  flex: 1;
}

.newsSliderSection,
.sectionBody {
  align-self: stretch;
  overflow: hidden;
}

.newsSliderSection {
  flex-direction: column;
  align-items: center;
  gap: var(--pixel-10);
  padding: var(--pixel-10) var(--pixel-80);
}

@media screen and (min-width: 701px) and (max-width: 910px) {
  .newsSliderSection {
    padding: var(--pixel-10) var(--pixel-30);
  }
}

@media screen and (max-width: 700px) {
  .newsSliderSection {
    padding: 0;
  }
}
